.AxiosError {
  padding: 20px; }
  .AxiosError__h1 {
    text-decoration: underline;
    font-size: 24px;
    margin: 0 0 10px 0; }
  .AxiosError__list {
    padding: 0; }
    .AxiosError__item {
      margin-bottom: 10px; }
      .AxiosError__h2 {
        font-size: 18px;
        margin: 0 0 5px 0; }
      .AxiosError__pre {
        width: calc(100vw - 60px);
        margin: 0;
        background-color: #FFCDD2;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 10px; }
