.CreateNote {
  display: flex;
  background-color: #FFFFFF;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid #DADCE0;
  border-radius: 5px;
  border: 1px solid #E0E0E0; }
