.Accounts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
.Accounts__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  transition: .2s all; }
  .Accounts__heading {
    margin: 0;
    padding: 30px;
    padding-bottom: 0; }
