.Note {
  margin: 10px; }
  .Note__inner {
    border-radius: 3px;
    border: 1px solid #E0E0E0;
    transition: .2s box-shadow; }
    .Note__inner:hover {
      box-shadow:
        0 1px 2px 0 rgba(60,64,67,0.30),
        0 1px 3px 1px rgba(60,64,67,0.15); }
    .Note__inner:hover .Note__icon {
      display: block; }
      .Note__content {
        padding: 15px; }
        .Note__title {
          outline: none;
          margin: 0 0 10px 0;
          font-weight: 600;
          font-size: 19px; }
        .Note__note {
          outline: none;
          margin: 0;
          font-weight: 400;
          font-size: 14px; }
      .Note__actions {
        padding: 0 15px 15px 8px;
        margin: 0;
        height: 24px;
        display: flex; }
        .Note__icon {
          display: none;
          color: #333333;
          font-size: 23px; }
          .Note__edit {
            color: #333333; }
